<h1>Edit your tweet</h1>

<form action="/tweets/<%= @tweet.id %>/edit" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input id="content" type="text" name="content" value="<%= @tweet.content %>">
  <input id="submit "type="submit" name="submit" value="submit">
</form>

<form action="/tweets/<%= @tweet.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input id="delete" type="submit" name="delete" value="Delete Tweet">
</form>
