# Include form that asks for username, password

<form action="/login" method="post">
  Username: <input type="text" name="username" value="">
  Password: <input type="text" name="password" value="">
  <input type="submit" name="" value="Log In">
</form>
